template(name="starTriangle2Assignment")
  p Write a code that will show a reversed star triangle in output.
    b Use a loop.
  p This is the reversed star triangle:
  .code-in-text
    |     *
    |    **
    |   ***
    |  ****
    |*****