template(name="functionsAssignment")
  p <b>{{_'Line'}} 1, 2, 3, 4, 5, 6, 7</b>:
    |{{{_'Define a function with name <i>sum</i>'}}}.
    |{{{_'The function takes 1 parameter named <i>numbers</i> of type array'}}}.
    |{{{_'The function should <b>return</b> (not print) summary of all numbers in array <i>numbers</i>'}}}.
    |{{{_'Use loop <b>for</b> for iterating array'}}}.
  p <b>{{_'Line'}} 8</b>: {{{_'Call the function <i>sum</i> with parameter <b>[2, 3, 6]</b> and print the result with'}}} console.log().
  p The result should be <b>11</b>.