template(name="1le1")
  p <b>{{_'Line'}} 1</b>: {{{_'Define empty array variable with name <i>numbers</i>'}}}.
  p <b>{{_'Line'}} 2</b>: {{{_'Add value 1 to variable <i>numbers</i> with method push()'}}}.
  p <b>{{_'Line'}} 3</b>: {{{_'Add value 2 to variable <i>numbers</i> with method push()'}}}.
  p <b>{{_'Line'}} 4</b>: {{{_'Print value 1 from array <i>numbers</i> with'}}} console.log().