template(name="1le3")
  p <b>{{_'Line'}} 1</b>: {{{_'Define array variable with name <i>numbers</i> and values 5, 8, and 3.3'}}}.
  p <b>{{_'Line'}} 2</b>: {{{_'Add all numbers from array <i>numbers</i> with operator + and print result with'}}} console.log().