template(name="1oe1")
  p <b>{{_'Line'}} 1</b>: {{{_'Define variable with name <i>truthy</i> and truthy value'}}}.
  p <b>{{_'Line'}} 2, 3, 4</b>: {{{_'Write condition where you will use variable truthy'}}}.
    |{{{_"Inside condition, print <b>'hello truthy'</b> with"}}} console.log().