template(name="1ge1")
  p <b>{{_'Line'}} 1</b>: {{{_'Define variable with name <i>number1</i> and value 0.55'}}}.
  p <b>{{_'Line'}} 2</b>: {{{_'Define variable with name <i>number2</i> and value 0.199'}}}.
  p <b>{{_'Line'}} 3</b>: {{{_'Define variable with name <i>result</i> and value <i>number1</i> + <i>number2</i>'}}}.
  p <b>{{_'Line'}} 4</b>: {{{_'Print variable <i>result</i> with'}}} console.log().