template(name="1ge2")
  p <b>{{_'Line'}} 1</b>: {{{_'Define variable with name <i>number1</i> and value 0.55'}}}.
  p <b>{{_'Line'}} 2</b>: {{{_'Define variable with name <i>number2</i> and value 0.199'}}}.
  p <b>{{_'Line'}} 3</b>: {{{_'Define variable with name <i>result</i> and value <i>number1</i> + <i>number2</i>'}}}.
  p <b>{{_'Line'}} 4</b>: {{{_'Round variable <i>result</i> to 2 decimal places with'}}} toFixed() and print it with console.log().