template(name="1ge4")
  p <b>{{_'Line'}} 1</b>: {{{_'Define variable with name <i>number1</i> and value 0.55'}}}.
  p <b>{{_'Line'}} 2</b>: {{{_'Define variable with name <i>number2</i> and value 0.199'}}}.
  p <b>{{_'Line'}} 3</b>: {{{_'Define variable with name <i>result</i> and value <i>number1</i> + <i>number2</i>'}}}.
  p <b>{{_'Line'}} 4</b>: {{{_'Define variable with name <i>roundedResult</i>'}}}. Its value will be rounded value to 2 decimal places of variable <i>result</i>. Use function toFixed().
  p <b>{{_'Line'}} 5</b>: Parse value of <i>roundedResult</i> with function parseFloat() and add 3 to the result. Print it with console.log().
    | The result should be <b>3.75</b>. You need to parse value of <i>roundedResult</i> with parseFloat() function.