template(name="listOfArticles")
  h3 &nbsp;&nbsp;&nbsp;{{_'Articles'}}
  ul
    li
      a(href="{{pathFor 'howToLearnToCodeProperly' lang=lang}}") {{_'How to learn to code properly'}}
    li
      a(href="{{pathFor 'whyCoderMania' lang=lang}}") {{_'Why CoderMania?'}}
    li
      a(href="{{pathFor 'whyJavaScript' lang=lang}}") {{_'Why JavaScript?'}}
    li
      a(href="{{pathFor 'whyLearnToCode' lang=lang}}") {{_'Why learn to code?'}}