template(name="1re1")
  p <b>{{_'Line'}} 1, 2, 3, 4, 5, 6, 7, 8, 9, 10</b>: {{{_'Define an object with name <i>car</i>'}}} (as a JSON)
    |and property <i>name</i> with arbitrary string value and property <i>speed</i> with arbitrary integer value.
    |Define method for object <i>car</i> with name <i>accelerate</i> which will increase car's speed by 1.
    |Define method for object <i>car</i> with name <i>toString</i> which will return
    |<b>'Car Tesla has speed 299'</b>
    |for car with name <b>'Tesla'</b> and speed <b>299</b>.
    |Define properties and methods in order as described.
  p <b>{{_'Line'}} 11</b>: Call car's method <i>toString</i> and print returned value with console.log().
  p <b>{{_'Line'}} 12</b>: Call car's method <i>accelerate</i>.
  p <b>{{_'Line'}} 13</b>: Call car's method <i>toString</i> and print returned value with console.log().
