template(name="1re2")
  p <b>{{_'Line'}} 1, 2, 3</b>: Define an object with name <i>person</i> (as a JSON) and string property <i>name</i> with arbitrary value.
  p <b>{{_'Line'}} 4</b>: Print person's name with console.log().
  p <b>{{_'Line'}} 5</b>: Change person's name to something else.
  p <b>{{_'Line'}} 6</b>: Print person's name with console.log().