template(name="1re3")
  p <b>{{_'Line'}} 1, 2, 3, 4, 5, 6</b>: Define an object with name <i>dog</i> (as a JSON).
    |<b>Line 2: </b>Define string property <i>name</i> with arbitrary value.
    |<b>Line 3, 4, 5: </b> Define method with name <i>bark</i> that will print <b>'wof wof'</b> with console.log().
  p <b>{{_'Line'}} 7</b>: Print dog's name with console.log().
  p <b>{{_'Line'}} 8</b>: Call dog's method bark().