template(name="1re4")
  p <b>{{_'Line'}} 1, 2, 3, 4, 5, 6</b>: Define an object with name <i>Dog</i> (as a function)
    |which takes one parameter with name <i>name</i>.
    |Define string property <i>name</i> with value of name parameter from constructor.
    |Define method with name <i>bark</i> that will print <b>'wof wof'</b> with console.log().
  p <b>{{_'Line'}} 7</b>: Define variable with name <i>dog</i>.
    |Value of the <i>dog</i> variable will be an instance of the object Dog.
  p <b>{{_'Line'}} 8</b>: Print dog's name with console.log().
  p <b>{{_'Line'}} 9</b>: Call dog's method bark().