#fullscreen-homework {
  &.fullscreen-enabled {
    width: 99%;
    height: 98%;
    padding: 10px;
    background-color: white;

    .col-result, #homework-result {
      height: 100%;
    }

    #homework-iframe {
      height: 90%;
    }
  }
  &.enlarged-editor {
    #html-editor, .ace_content {
      height: 350px;
    }
    #homework-iframe {
      height: 385px;
    }
  }
  .toggle-editor, .enter-fullscreen-btn {
    font-size: .8em;
  }
}