#fullscreen-homework {
  &.fullscreen-enabled {
    width: 99%;
    height: 98%;
    padding: 10px;
    background-color: white;

    #html-editor {
      height: 350px;
    }
    #homework-iframe {
      height: 385px;
    }
  }
  &.enlarged-editor {
    #html-editor {
      height: 350px;
    }
    #homework-iframe {
      height: 385px;
    }
  }
  .toggle-editor, .enter-fullscreen-btn {
    font-size: .8em;
  }
}