template(name="starTriangleAssignment")
  p Write a code that will show a star triangel in output.
    b Use a loop.
  p This is the star triangel:
  .code-in-text
    |*
    |**
    |***
    |****
    |*****