template(name="contact")
  h1.no-margin-top {{_'Contact'}}

  br
  p {{_'If you have questions or want to join CoderMania as a teacher, contact Tomas'}}.
  br
  .row
    .col-sm-4
      img(src="/img/codermania-elfoslav.jpg" alt="elfoslav")
    .col-sm-8
      h3.bold.no-margin-bottom.no-margin-top Tomas Hromnik
      p.gray {{_'Founder'}}
      p
        a(href="mailto:tomas@codermania.com") tomas@codermania.com
      p
        a(href="http://hromnik.com") www.hromnik.com