template(name="knowledgeBaseSidebar")
  br
  ul
    li
      a(href="{{pathFor 'knowledgeBaseFrontEndDeveloper' lang=lang}}") Who is a Front-End Developer?
    li
      a(href="{{pathFor 'knowledgeBaseFullStackDeveloper' lang=lang}}") Who is a Full-Stack Developer?
    li
      a(href="{{pathFor 'knowledgeBaseBackEndDeveloper' lang=lang}}") Who is a Back-End Developer?