template(name="knowledgeBaseSidebar")
  br
  ul
    li
      a(href="{{pathFor 'knowledgeBaseFrontEndDeveloper' lang=lang}}") Who is a Front-end developer?
    li
      a(href="{{pathFor 'knowledgeBaseFullStackDeveloper' lang=lang}}") Who is a Full-stack developer?
    li
      a(href="{{pathFor 'knowledgeBaseBackEndDeveloper' lang=lang}}") Who is a Back-end developer?