template(name="blog")
  .row
    .col-sm-8
      h2
        a(href="{{pathFor 'howToLearnToCodeProperly' lang=lang}}") {{_'How to learn to code properly'}}
      p {{_'Many people read books and they think they will learn to code'}}.
        |{{_'What is wrong with books is that they will not teach you to code'}}.
        |{{_'They will just give you an overview what coding/programming is and how to do basic things'}}...
      h2
        a(href="{{pathFor 'whyCoderMania' lang=lang}}") {{_'Why CoderMania?'}}
      p {{_'There are many learning resources for learning to program on the internet'}}.
        |{{_'Many of them are good'}}...
      h2
        a(href="{{pathFor 'whyJavaScript' lang=lang}}") {{_'Why JavaScript?'}}
      p {{_'JavaScript is one of the most universal programming languages in the world'}}.
        |{{_'You can build web applications, mobile applications and desktop applications'}}...
      h2
        a(href="{{pathFor 'whyLearnToCode' lang=lang}}") {{_'Why learn to code?'}}
      p {{_'Many of you already know that coders have above-average salary'}}.
      p {{_'For example JavaScript developers earn'}}
        a(href="http://www.indeed.com/salary/q-Javascript-Developer-l-United-States.html" target="_blank")
          |{{_'more than $90,000/year in USA'}}...
