template(name="1ke1")
  p <b>{{_'Line'}} 1</b>: {{{_'Define string variable with name <i>someText</i> and value <b>"Lorem ipsum"</b>'}}}.
  p <b>{{_'Line'}} 2</b>: {{{_'Add text <b>" dolor sit amet"</b> to variable <i>someText</i> using operator <b>+=</b>'}}}.
  p <b>{{_'Line'}} 3</b>: {{{_'Print variable <i>someText</i> with'}}} console.log().
    |{{{_'The result should be <b>"Lorem ipsum dolor sit amet"</b>'}}}.