template(name="1ke2")
  p <b>{{_'Line'}} 1</b>: {{{_'Define string variable with name <i>fruit1</i> and value <b>"apple"</b>'}}}.
  p <b>{{_'Line'}} 2</b>: {{{_'Define string variable with name <i>fruit2</i> and value <b>"banana"</b>'}}}.
  p <b>{{_'Line'}} 3</b>: {{{_'Define variable with name <i>appleAndBanana</i>'}}}.
    |{{{_'Value of <i>appleAndBanana</i> will be concatenation of variable <i>fruit1</i>, string <b>" and "</b> and variable </i>fruit2</i>'}}}.
  p <b>{{_'Line'}} 4</b>: {{{_'Print variable <i>appleAndBanana</i> with'}}} console.log().
    |{{{_'The result should be <b>"apple and banana"</b>'}}}.