template(name="openHomeworkFormModalBtn")
  if equals type 'edit'
    a.btn.btn-default.edit-homework-btn(href="#" data-target="#homework-form-modal" data-toggle="modal") Edit
  else
    a.btn.btn-success.create-homework-btn(href="#" data-target="#homework-form-modal" data-toggle="modal") + Create homework