template(name="1qe2")
  p <b>{{_'Line'}} 1, 2, 3</b>: {{{_'Define a function with name <i>multiply</i>'}}}.
    |The function takes 2 parameters: <i>a</i> and <i>b</i> and returns <b>a * b</b>.
  p <b>{{_'Line'}} 4</b>: {{{_'Call function <i>multiply</i> with parameters <b>5</b> and <b>2</b>'}}}.
    |{{{_'Print returned value with'}}} console.log().
