template(name="1qe3")
  p <b>{{_'Line'}} 1, 2, 3, 4, 5</b>: {{{_'Define a function with name <i>printArray</i>'}}}.
    |{{{_'The function takes 1 parameter named <i>arr</i> of type array and prints items of array with'}}} console.log().
    |{{{_'Use loop <b>for</b> for iterating array'}}}.
  p <b>{{_'Line'}} 6</b>: {{{_'Call function <i>printArray</i> with parameter <b>[5, 10, 15]</b>'}}}.
