template(name="1ee3")
  p <b>{{_'Line'}} 1</b>: {{{_'Compare two numbers using operator <b>&gt;&equals;</b>'}}}.
    |{{{_'Result should be <i>true</i>'}}}.
    |{{_'Print result with'}} console.log().