template(name="1ee4")
  p <b>{{_'Line'}} 1</b>: {{{_'Compare <i>number</i> and <i>string</i> using operator <b>==</b>'}}}.
    |{{{_'Result should be <i>true</i>'}}}.
    |{{_'Print result with'}} console.log().