template(name="1se2")
  p <b>{{_'Line'}} 1</b>: {{{_'Compare two numbers using operator <b>&lt;&equals;</b>'}}}.
    |{{{_'Result should be <i>true</i>'}}}.
    |{{_'Print result with'}} console.log().