template(name="booleanVariablesAssignment")
  p <b>{{_'Line'}} 1</b>: {{{_'Define variable with name isCoderMan and arbitrary boolean value'}}}.
  p <b>{{_'Line'}} 2</b>: {{_'Print it with console.log()'}}.
