template(name="integerVariablesAssignment")
  p <b>{{_'Line'}} 1</b>: {{{_'Define variable with name <i>x</i> with arbitrary integer value'}}}.
  p <b>{{_'Line'}} 2</b>: {{{_'Define variable with name <i>y</i> with arbitrary integer value'}}}.
  p <b>{{_'Line'}} 3</b>: {{{_'Define variable with name <i>z</i> with arbitrary integer value'}}}.
  p <b>{{_'Line'}} 4</b>: {{{_'Print <i>x * y + z</i> with'}}} console.log()