template(name="stringVariablesAssignment")
  p <b>{{_'Line'}} 1</b>: {{{_"Define a variable with name <i>\"name\"</i>"}}}.
    |{{_'Value of this variable will be your name'}}.
    |{{_'For example if your name is John, the value of variable name will be John'}}.
  p <b>{{_'Line'}} 2</b>: {{_'Print variable name with'}} console.log().