template(name="SKCourseInfo")
  p
    span.glyphicon.glyphicon-info-sign
    |Kurz prebieha formou prednášky s teóriou a následne praktickými cvičeniami. <b>Je potrebné mať vlastný notebook</b>.
    //Kurz prebehne iba v prípade, že sa nazbiera dostatočný počet účastníkov. Keď zavoláte svojich kamarátov, zvýšite šancu na uskutočnenie kurzu.