template(name="introductionTheory")
  p {{_'JavaScript is one of the most popular programming languages nowadays'}}.
  p {{_'You can program web, mobile and even desktop applications in JavaScript'}}.