template(name="1pe1")
  p <b>{{_'Line'}} 1, 2, 3</b>: {{{_'Write <b>for</b> loop which will will run 5x'}}}.
    |{{{_'Use variable with name <i>i</i> and value 0 for iteration'}}}.
    |{{{_'Use iterator <i>i++</i>'}}}.
    |{{{_'Print value of variable <i>i</i> inside loop'}}}.
