template(name="1pe5")
  p <b>{{_'Line'}} 1</b>: {{{_"Define array variable with name <i>bands</i> and values 'Metallica', 'AC/DC', 'Iron Maiden'"}}}.
  p <b>{{_'Line'}} 2, 3, 4</b>: {{{_'Write <b>for</b> loop which will iterate through array <i>bands</i> and print its values'}}}.
