template(name="arithmeticOperatorsAssignment")
  p {{_'Use operator modulo (%) with two values'}}.
    |{{_'Print it with'}} console.log().
    |{{_'The result of expression should be 3'}}.

  hr
  p
    span.glyphicon.glyphicon-info-sign
    <b>{{_'Hint'}}</b>:
    |{{_'The result of expression 5 % 3 is 2'}}:
  pre.code-in-text.js
    |console.log(5 % 3);