template(name="arithmeticOperatorsTheory")
  <iframe height="280" src="https://www.youtube.com/embed/lQubC0xCqWg?list=PLoy-bs-bDKTgQYc39H9SpxuWUMitdGhtf&start=2056" frameborder="0" allowfullscreen></iframe>
  p {{_'We know classic arithmetic operators like'}} +, - , *, /
  +codeInText
    |console.log(1 + 2);
    br
    |console.log(1 - 2);
    br
    |console.log(5 * 3);
    br
    |console.log(5 / 2);
  p {{_'We have special operators in programming languages like'}}:
  ul
    li % ({{_'Modulus'}})
    li ++ ({{_'Increment'}})
    li -- ({{_'Decrement'}})
  p {{_'The modular operator (%) returns division reminder'}}.
  p {{_'Try code below in code editor'}}:
  +codeInText
    |console.log(5 % 2);
    br
    |console.log(6 % 2);
    br
    |console.log(11 % 4);
  p {{_"Let's explain modulo operator"}}.
  p {{_'5 / 2 is 2 and division reminder is 1'}}.
  p {{_'6 / 2 is 3 and division reminder is 0'}}.
  p {{_'11 / 4 is 2 and division reminder is 3'}}.
  p {{_'The increment operator (++) increments value'}}:
  +codeInText
    |var x = 1;
    br
    |x++;
    br
    |console.log(x);
  p {{_'Code above does exactly the same like code below'}}:
  +codeInText
    |var x = 1;
    br
    |//{{_'x++ is just shorcut of this expression'}}
    br
    |x = x + 1;
    br
    |console.log(x);
  p x++ vs. ++x:
  +codeInText
    |var x = 1;
    br
    |var y = x++;
    br
    |console.log(x);
    br
    |console.log(y);
  p {{_'Notice the difference between x++ and ++x'}}:
  +codeInText
    |var x = 1;
    br
    |var y = ++x;
    br
    |console.log(x);
    br
    |console.log(y);

  p x++ (post-increment) means "remember the original value, then increment the variable; the value of the expression is the original value".
  p ++x (pre-increment) means "increment the variable; the value of the expression is the final value".
  p The same applies to x--; and --x with decrement;

  p Another example of post-increment:
  +codeInText
    |var number = 12;
    br
    |//Value of number is printed with console.log()
    br
    |//Then it's incremented
    br
    |console.log(number++);
    br
    |//value of number after increment is 13
    br
    |console.log(number);

  p Another example of pre-increment:
  +codeInText
    |var number = 12;
    br
    |//Value of number is incremented
    br
    |//Then it's printed with console.log()
    br
    |console.log(++number);
    br
    |//value of number after increment is 13
    br
    |console.log(number);
