template(name="arithmeticOperatorsExercise")
  .panel-group#exercise-accordion(role="tablist" aria-multiselectable="true")
    .panel.panel-default
      .panel-heading(role="tab" id="something")
        .panel-title
          a(data-toggle="collapse" data-parent="exercise-accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
            |Exercise 1
      #collapseOne.panel-collapse.collapse.in(role="tabpanel" aria-labelledby="headingOne")
        .panel-body
          |jebe ti???

      .panel-heading(role="tab" id="something2")
        .panel-title
          a(data-toggle="collapse" data-parent="exercise-accordion" href="#collapseOne2" aria-expanded="false" aria-controls="collapseOne2")
            |Exercise 2
      #collapseOne2.panel-collapse.collapse(role="tabpanel" aria-labelledby="something2")
        .panel-body
          |jebe ti 2???