template(name="comparisonOperatorsAssignment")
  p {{_'Copy & paste following code in code Editor'}}:
  +codeInText
    |//Following expressions must be evaluated to true
    br
    |console.log(42 &lt; 5);
    br
    |console.log(6 === "6");
    br
    |console.log(1 != "1");
  p Do not remove the comment on line 1.
  p {{_'Expressions in code editor must be evaluated to true'}}.
    b
      |{{_'Change only operators'}}. {{_'Do not change values'}}!