template(name="logicalOperatorsAssignment")
  p {{_'Copy & paste following code in code Editor'}}:
  +codeInText
    |var isPokemon = false;
    br
    |var isPikachu = true;
    br
    |if (isPokemon && isPikachu) {
    br
    |&#09;console.log('Pika pika... Pikachu!');
    br
    |}
  p {{_'Amend condition in code editor'}}.
    |{{_'Code inside condition should run and the result should be'}}:
  pre.code-in-text Pika pika... Pikachu!