template(name="logicalOperatorsTheory")
  p {{_'Logical operators'}}:
  ul
    li <b>&&</b> - {{_'logical and'}}
    li <b>||</b> - {{_'logical or'}}
    li <b>!</b> - {{_'logical not'}}

  p {{_'We use logical operators when we want to evaluate an expression to true or false'}}.
  p {{{_'Logical <b>\"and\"</b> compares two values and evaluates expression to <i>true</i> or <i>false</i> according to these two values'}}}.
  +codeInText
    |var hasDog = true;
    br
    |var isRaining = false;
    br
    |if (isRaining && hasDog) {
    br
    |&#09;console.log('{{_'Walking with dog in the rain'}}');
    br
    |}
  p {{_'Copy and paste the code above into the code editor'}}.
    |{{{_'When you change variable <i>isRaining</i> to true'}}}, console.log {{_'will print message'}}.
  p {{{_'Logical <b>\"and\"</b> evaluates expression to <i>true</i> only if both sides of expression are <i>true</i>'}}}.
  hr
  p {{{_'Logical <b>\"or\"</b> evaluates expression to <i>true</i> if at least one of values is <i>true</i>'}}}.
    |{{{_'If both values are <i>false</i>, the expression will evaluate to <i>false</i>'}}}:
  +codeInText
    |var hasDog = true;
    br
    |var isRaining = false;
    br
    |if (isRaining || hasDog) {
    br
    |&#09;console.log('{{_'It is raining or I have dog'}}');
    br
    |}
  p {{{_'Above is almost the same code as in the first example with <b>and</b>'}}}.
    |{{{_'The difference is in <b>or</b> operator in condition if and different mesage in'}}} console.log.
    |{{_'Again, copy and paste the code into the code editor and play with it'}}.
    |{{{_'Set both variables to <i>false</i> and the code inside condition will not run'}}}.
  hr
  p {{{_'Logical <b>\"not\"</b> changes <i>true</i> value to <i>false</i> and <i>false</i> value to <i>true</i>'}}}.
    |{{{_'We write <b>\"not\"</b> operator before variable name to negate its value'}}}:
  +codeInText
    |var isRaining = false;
    br
    |if (!isRaining) {
    br
    |&#09;console.log('{{_'It is not raining'}}');
    br
    |}
  p {{_'Again, copy and paste the code into the code editor and play with it'}}.
    |{{{_'We define variable <i>isRaining</i> to <i>false</i> and negate it in condition so it becomes <i>true</i> and code inside condition is run'}}}.

  h2 {{_'Conventions'}}
  +codeInText
    |//{{_'bad'}} - {{_'no space around operators'}}
    br
    |console.log(true||false&&true);
    br
    br
    |//{{_'good'}}
    br
    |console.log(true || false && true);

  +conventionsNote
