template(name="studyGroup")
  h1 Study group - {{studyGroup.title}}
    if canEdit
      a.btn.btn-default(href="#" data-target="#study-group-modal" data-toggle="modal") Edit

  .row
    .col-sm-8
      p
        if isJoined
          a.btn.btn-danger.leave-group-btn(href="#") Leave this group
        else
          a.btn.btn-success.join-group-btn(href="#") Join this group
      with studyGroup
        if topics
          p
            small {{topics}}
        if capacity
          p Capacity: {{capacity}}
            |(free {{freeSpotsCount}})
        if description
          pre.unstyled-pre {{linkify description}}
        if curriculumId
          p
            b Curriculum:
          pre.unstyled-pre {{linkify curriculum.text}}
      p
        a.btn.btn-default(href="{{pathFor 'studyGroups'}}") &larr; All study groups
      hr
      h3 Chat
        small
          |(
          a(href="#study-group-chat-form") Write a message
          |)
      each studyGroup.messages
        |{{makeRead}}
        p {{formatDate timestamp}}
          if isUserOnline
            +onlineDot
          a(href="{{pathFor 'studentProfile' username=getUsername}}")
            b {{getUsername}}
          |{{getRole}}:
        pre.unstyled
          |{{linkify text}}
      else
        p No messages, yet.

      form#study-group-chat-form
        .form-group
          textarea.message.form-control(rows="5" name="text" placeholder="{{_'write a message'}}")
        .checkbox
          label
            input(type="checkbox" name="sendNotifications")
            |Send notification about new message to all members of this group
        .form-group
          button.btn.btn-primary.btn-block(type="submit") {{_'Send'}}
    .col-sm-4
      h3 Other study groups
      each studyGroups
        +studyGroupListItem
      h3 FAQ
      p Coming soon. For now check out our
        a(href="{{pathFor 'guide'}}") Ultimate guide for web developer

      h3 Teachers ({{teachers.count}})
      each teachers
        +studyGroupUserListItem
        |&nbsp;

      h3 Students ({{students.count}})
      each students
        +studyGroupUserListItem
        |&nbsp;
      else
        |No students, yet.

  +studyGroupFormModal
