template(name="notificationsHeader")
  h1.no-margin-top
    a(href="{{pathFor 'messages'}}") {{_'Messages'}} ({{unreadMessagesCount}})
    ||
    |Notifications ({{unreadNotificationsAndMessagesCount}})