template(name="skSlide23")
  h1 Vývoj webových aplikácií v praxi
  p.big-font HTML, CSS, LESS, JavaScript,
    br
    |PHP, Angular, Nette, Node.js,
    br
    |Meteor.js, Ruby On Rails....
    br
    |nekonečne veľa technológií.