template(name="skSlide20")
  h1 JavaScritová konzola
  p.big-font Chrome dev tools - F12
  p.big-font Firebug pre Firefox:
    a(href="https://addons.mozilla.org/en-US/firefox/addon/firebug/" target="__blank") https://addons.mozilla.org/en-US/firefox/addon/firebug/