template(name="skSlide11")
  h1 (De)Motivácia
  p.big-font Ak budete šikovní, prácu si na 100% nájdete.

  br

  p.big-font Musíte sa naučiť angličtinu.
  p.big-font
    a(href="http://www.helpforenglish.cz" target="__blank") www.helpforenglish.cz