template(name="skSlide15")
  h1 Prehľad programovacích jazykov
  p.big-font Najpoužívanejšie jazyky:

  p.big-font
    |C (1972), C++ (1980), Python (1991),
    br
    |Ruby (1993), Java (1995), JavaScript (1995),
    br
    |PHP (1995), C# (2001), Swift (2014)