template(name="skSlide13")
  h1 Prečo JavaScript?
  p.big-font JavaScript je jediný jazyk, ktorému rozumejú webové prehliadače.

  code.code-in-text.js alert('ahoj');
  br
  p
    button.btn.btn-default.run-code Spustiť kód