template(name="skSlide25")
  h1 Hurá preč
  p
    img(src="/img/sk-slides/hura-prec.gif" alt="hurá preč")
    img(src="/img/sk-slides/hura-prec.gif" alt="hurá preč")
    img(src="/img/sk-slides/hura-prec.gif" alt="hurá preč")