template(name="skSlide26")
  h1 Cykly fun
  p
    a(href="https://www.facebook.com/photo.php?v=701206783246409&set=vb.100000712815612" target="_blank")
      |https://www.facebook.com/photo.php?v=701206783246409&set=vb.100000712815612