template(name="skSlide9")
  h1 (De)Motivácia
  p.big-font Programovacie jazyky sú si podobné. Ak sa naučíte jeden, ostatné už budú hračka.

  br

  p.big-font Je ale dobré mať prehľad v programovacích jazykoch.