template(name="skSlide12")
  h1 Prečo JavaScript?
  p.big-font JavaScript je univerzálny jazyk. Spravíte v ňom webové, mobilné aj desktopové aplikácie. Nemusíte ovládať XX jazykov. Stačí ovládať JavaScript.