template(name="objectsAssignment")
  p <b>{{_'Line'}} 1</b>: Define object as a function with name <i>Person</i> and parameters <i>name</i> and <i>age</i>.
  p <b>{{_'Line'}} 2</b>: Assign value of parameter <i>name</i> to object property <i>name</i>.
  p <b>{{_'Line'}} 3</b>: Assign value of parameter <i>age</i> to object property <i>age</i>.
  p <b>{{_'Line'}} 4</b>: Define method with name <i>sayHello</i>.
  p <b>{{_'Line'}} 5</b>: Inside method <i>sayHello</i> print with console.log() <b>'Hello, my name is ' + this.name</b>.
  p <b>{{_'Line'}} 6</b>: Inside method <i>sayHello</i> print with console.log() <b>'And my age is ' + this.age</b>.
  p <b>{{_'Line'}} 7</b>: Close method <i>sayHello</i>.
  p <b>{{_'Line'}} 8</b>: Close function.
  p <b>{{_'Line'}} 9</b>: Create an instance of the object <i>Person</i> with name <i>peter</i> and parameters <b>'Peter'</b> and <b>31</b>.
  p <b>{{_'Line'}} 10</b>: Call method <i>sayHello</i> of instance <i>peter</i>.
