template(name="listOfCourses")
  ul
    li
      a(href="{{pathFor 'basicProgramming'}}") Základy programovania
    li
      a(href="{{pathFor 'webPages'}}") Tvorba webových stránok
    li
      a(href="{{pathFor 'webApplications'}}") Tvorba webových aplikácií
    li
      a(href="{{pathFor 'fullstackWebDeveloper'}}") Full-stack Web Developer
    li
      a(href="{{pathFor 'summerWebDevelopmentSchool'}}") Letná web developerská škola