template(name="loopsWhileAssignment")
  p Copy & paste code below into the Code Editor:
  +codeInText
    |var fruits = ['orange', 'banana', 'pear'];
    br
    |//Do not delete this line... write while loop under this line:
  p {{{_'Print items of array <i>fruits</i> with <b>while</b> loop'}}}.