template(name="1me2")
  p <b>{{_'Line'}} 1</b>: {{{_"Define variable with name <i>isHappy</i> and value <i>true</i>"}}}.
  p <b>{{_'Line'}} 2, 3, 4, 5, 6</b>: {{{_"Print <b>'He is happy'</b>"}}} with console.log() {{{_'if variable <i>isHappy</i> is truthy'}}}.
    |{{{_"Otherwise print 'He is not happy'"}}}.
    |{{{_'Use <b>if</b> and <b>else</b> statements'}}}.