template(name="1me3")
  p <b>{{_'Line'}} 1</b>: {{{_"Define variable with name <i>name</i> and value 'Josh'"}}}.
  p <b>{{_'Line'}} 2, 3, 4, 5, 6, 7, 8</b>: {{{_"Write condition (<b>if</b>) which compares variable <i>name</i> with value 'Peter' using operator equals"}}}.
    |<b>{{_'Line'}} 3</b>: {{{_"Inside condition, print <b>'Hello Peter'</b> with"}}} console.log().
    |<b>{{_'Line'}} 4</b>: {{{_"Continue with condition (<b>else if</b>) and check if variable <i>name</i> is equal to 'John'"}}}.
    |<b>{{_'Line'}} 5</b>: {{{_"Inside condition, print <b>'Hello John'</b> with"}}} console.log().
    |<b>{{_'Line'}} 6</b>: {{{_"Continue with block <b>else</b>"}}}.
    |<b>{{_'Line'}} 7</b>: {{{_"Inside block <b>else</b> print <b>'Hello stranger'</b> with"}}} console.log().
    |<b>{{_'Line'}} 8</b>: {{{_"End whole condition with <b>}</b>"}}}.