template(name="errorsAndTryCatchAssignment")
  p <b>Line 1:</b> Define a variable with name <i>boat</i> and value <b>'Titanic'</b>.
  p <b>Line 2:</b> Define a variable with name <i>obstruction</i> and value <b>'glacier'</b>.
  p <b>Line 3, 4, 5:</b> Write a condition that will compare if variable <i>boat</i> is equal to <b>'Titanic'</b>
    |and variable <i>obstruction</i> is equal to <b>'glacier'</b>.
    |<b>Line 4:</b> Throw an error with message: <b>'Captain, we have a problem!'</b>.
    |<b>Line 5:</b> End condition with <b>}</b>.