template(name="1je1")
  p <b>{{_'Line'}} 1</b>: {{{_'Define variable with name <i>number</i> and assign value 1 to it using <b>assignment operator</b>'}}}.
  p <b>{{_'Line'}} 2</b>: {{{_'Print variable <i>number</i> with'}}} console.log().