template(name="1je3")
  p <b>{{_'Line'}} 1</b>: {{{_'Define variable with name <i>number</i> and value 3'}}}.
  p <b>{{_'Line'}} 2</b>: {{{_'Subtract number 1 from variable <i>number</i> using operator <b>-=</b>'}}}.
  p <b>{{_'Line'}} 3</b>: {{{_'Print variable <i>number</i> with'}}} console.log().