template(name="1je5")
  p <b>{{_'Line'}} 1</b>: {{{_'Define variable with name <i>number</i> and value 5'}}}.
  p <b>{{_'Line'}} 2</b>: {{{_'Divide variable <i>number</i> by 2 using operator <b>/=</b>'}}}.
  p <b>{{_'Line'}} 3</b>: {{{_'Print variable <i>number</i> with'}}} console.log().