template(name="1ne3")
  p <b>{{_'Line'}} 1</b>: {{{_'Define boolean variable with name <i>isHappy</i> and value <i>true</i>'}}}.
  p <b>{{_'Line'}} 2</b>: {{{_'Define boolean variable with name <i>isHuman</i> and value <i>false</i>'}}}.
  p <b>{{_'Line'}} 3, 4, 5</b>: {{{_'Write condition where you will use variable <i>isHappy</i> and <i>isHuman</i> with operator <b>||</b>'}}}.
    |{{{_"Inside condition, print <b>'You are happy or you are a human'</b> with"}}} console.log().