template(name="codingConventionsAssignment")
  p {{_'Copy & paste following code in code Editor'}}:
  +codeInText
    |var message= 'Conventions are good for you';
    br
    |console.log(1+2);
    br
    |console.log(4&lt;= 5);
  p {{_'Correct code in code editor'}}.
    |{{_'It has to be written according to coding conventions'}}.