template(name="codingConventionsTheory")
  <iframe height="280" src="https://www.youtube.com/embed/lQubC0xCqWg?list=PLoy-bs-bDKTgQYc39H9SpxuWUMitdGhtf&start=1325" frameborder="0" allowfullscreen></iframe>
  p {{_'Conventions are here to make code better, easier to read'}}.
  p {{_'If you write nice code according to conventions, other coders will love you'}}.
  p {{_'If you do not write nice code, other coders will hate you'}}.
  p
    b {{_'If you do not write code according to conventions, CoderMania will evaluate your code as incorrect'}}.
  p {{_'Good practice is to leave space between operators'}}:
  +codeInText
    |//{{_'bad'}}
    br
    |console.log(1+2);
    br
    |console.log(1&lt;=2+5);
    br
    |//{{_'good'}}
    br
    |console.log(1 + 2);
    br
    |console.log(1 &lt;= 2 + 5);

  p {{_'Because code with spaces is easier to read'}}...

  p {{_'There is no space before the first bracket in th function call'}}:
  +codeInText
    |//{{_'bad'}} - notice space after console.log
    br
    |console.log ('Hello world');
    br
    |//{{_'good'}}
    br
    |console.log('Hello world');

  p {{_'Conventions are really important and you will learn more about other conventions in other lessons'}}.

  p {{_'Read more about conventions in JavaScript'}}:
    a(href="http://javascript.crockford.com/code.html" target="_blank") http://javascript.crockford.com/code.html
