template(name="notifications")
  +notificationsHeader
  each notifications
    +notificationsListItem
  else
    p No unread notifications.
  hr
  p
    a.btn.btn-default(href="{{pathFor 'readNotifications'}}") Show read notifications