template(name="notifications")
  h1.no-margin-top
    a(href="{{pathFor 'messages'}}") {{_'Messages'}} ({{unreadMessagesCount}})
    ||
    |Notifications ({{unreadNotificationsAndMessagesCount}})
  each notifications
    +notificationsListItem
  else
    p No unread notifications.
  hr
  p
    a.btn.btn-default(href="{{pathFor 'readNotifications'}}") Show read notifications