template(name="blogLayout")
  #fb-root
  #container
    +navbar
    .container
      h1 {{title}}
      p
        small {{date}}

      p {{> shareit shareData}}

      .row
        .col-sm-8
          +yield
        .col-sm-4 {{> listOfArticles}}
    +appUpdatePrompt
    +footer
