head
  title Learn to code | CoderMania
  meta(name="description" content="Learn to code, be happy. Learn to code interactively for free.")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
  link(rel="icon" href="/favicon.ico" type="image/x-icon")
body
  +facebook
  +generalGroupLinkButton

template(name="layout")
  +BootstrapAlerts
  #container
    +navbar
    .container
      unless isMessagesPage
        if unreadMessagesCount
          .alert.alert-warning.alert-dismissable.notification-alert You have {{unreadMessagesCount}} unread message(s).
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            |Go to
            a(href="{{pathFor 'messages' lang=lang}}")
              b messages page.
      +yield
      +appUpdatePrompt
    +footer

template(name="notFound")
  h1 Page not found
  p We are sorry, but the page you are looking for does not exist or has been moved somewhere else.
