template(name="commentsTheory")
  p {{_'Comments in code are useful when you want to describe what given code does'}}.
    |{{_'Or you just want to "disable" a piece of code'}}.
  p {{_'One line comments start with //'}}.
  p {{_'Multiline comments start with /* and end */'}}:
  pre.code-in-text.js
    |//this is a one line comment.
    |&nbsp;
    |/* this
    |is a multiline comment
    |this will not be processed */

  p You can comment a line of code:
  +codeInText
    |//console.log('this line will not be processed');

  p You can comment multiple lines of code:
  +codeInText
    |/*
    br
    |console.log('this line will not be processed');
    br
    |console.log('this line will also not be processed');
    br
    |*/