template(name="studyGroupFormModal")
  #study-group-modal.modal.fade.in(aria-hidden='false', role='dialog', tabindex='-1')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(data-dismiss='modal', type='button')
            span(aria-hidden='true') &times;
            span.sr-only Close
          h4.modal-title Create/Edit study group
        .modal-body
          form#study-group-form
            .row
              .col-sm-6
                .form-group
                  label Group name *:
                  input.form-control(type='text', value='', name='title')
              .col-sm-6
                .form-group
                  label Topics (divided by comma):
                  input.form-control(type='text', value='', name="topics", placeholder="HTML, CSS, JavaScript")
            .row
              .col-sm-6
                .form-group
                  label Capacity:
                  input.form-control(type='text', name='capacity', placeholder="9999")
                .form-group
                  label(for='study-group-is-public')
                    input#study-group-is-public(type='checkbox', name='isPublic')
                    | Public study group
              .col-sm-6
                label Curriculum:
                if curriculums.count
                  select.form-control(name="curriculumId")
                    option(value='') None
                    each curriculums
                      option(value=_id) {{title}}
                br
                p
                  a.btn.btn-default(href="#add-curriculum" data-target="#curriculum-form-modal" data-toggle="modal") Add a curriculum
                p
                  a.btn.btn-default(href="#edit-curriculum" data-target="#curriculum-form-modal" data-toggle="modal") Edit selected curriculum
            input.invisible(type='submit' value='Submit' name='_submit')
          .form-group
            label Description:
            #study-group-description-textarea
        .modal-footer
          button.btn.btn-default(data-dismiss='modal', type='button') Close
          button#study-group-form-submit-btn.btn.btn-primary(type='button') Submit

  +curriculumFormModal