template(name="1ie1")
  p <b>{{_'Line'}} 1</b>: {{{_'Define variable with name <i>i</i> and value 5'}}}.
  p <b>{{_'Line'}} 2</b>: {{{_'Increment variable <i>i</b> with operator ++'}}}.
  p <b>{{_'Line'}} 3</b>: {{{_'Print variable <i>i</i> with'}}} console.log().