template(name="endJSLessonsTheory")
  p This is the end my friend. But don't worry. For you, it's just a start.
    |Start of a new life of a programmer. Read this article with title
    a(href="https://www.linkedin.com/pulse/how-programming-changed-my-life-tom%C3%A1%C5%A1-hromn%C3%ADk")
      |How programming changed my life
    |and stay motivated to learn more and more.
  p If you have done all JavaScript lessons, then congratulations!
    |You are now ready to start building your own application.
    |Unless... you are not. You must know
    a(href="http://lmgtfy.com/?q=learn+html") HTML
    |and
    a(href="http://lmgtfy.com/?q=learn+css") CSS
    |and then you can start building
    a(href="https://en.wikipedia.org/wiki/Single-page_application")
      |Single Page Applications (SPA).
  p If you want to build more than SPA, you have to learn a bit more than just HTML, CSS and JavaScript.
    |Web development is complex domain and companies use various technologies. It's not possible to know
    |all the technologies. You can learn a few technologies by building a few projects with different technologies.
  p What technology to choose? That's a good question. It depends, if you want to be
    a(href="{{pathFor 'knowledgeBase'}}")
      |a front-end, back-end or a full-stack developer.
    |You can learn what technologies to use in our
    a(href="{{pathFor 'guide'}}") Ultimate guide for web developer.
  p One small recommendation for you - if you want to learn to build web applications quickly, check out
    a(href="https://www.meteor.com") Meteor.
  p You probably don't know everything about JavaScrpt. There are a few topics that are not covered on CoderMania.
    |The topics are important, but you can build an application without knowing them.
    |You can learn the topics as you go. You will probably discover you need to understand some of these topics:
  ul
    li
      a(href="http://www.w3schools.com/js/js_function_closures.asp") Closures
    li
      a(href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/prototype")
        |Prototypes
    li
      a(href="http://www.w3schools.com/js/js_htmldom.asp")
        |JavaScript and DOM
    li And even more...
  p If CoderMania helped you to learn something useful, you can help CoderMania in two ways:
  p <b>The first way:</b> donate a few $ to keep CoderMania alive:
  p
    +paypalDonateButton
  p
    +patreonLink
  p <b>The second way:</b> Let your friends know about CoderMania:
  p
    +shareit
