template(name="helloWorldTheory")
  p Programming is fun. Don't fear, copy and paste code below into the code editor and press submit button:
  +codeInText
    |alert('Hello');

  +codeInText
    |console.log(prompt('What is your name?'));

  +codeInText
    |console.log(confirm('You will be a skilled programmer!'));

  p If you don't understand the code, don't worry. You will learn more in next lessons. Just continue please.

  p If you want to learn programming language, the first program you write is <i>hello world</i>.
    |Continue to assignment and write <i>hello world</i> program.