template(name="falseyAndTruthyValuesAssignment")
  p {{_'Copy & paste following code in code Editor'}}:
  +codeInText
    |//{{_'define falseyVar under this line'}}:
    br
    br
    |if (!falseyVar) {
    br
    |&#09;console.log('You understand falsey values');
    br
    |}
  p {{{_'Define variable with name <i>falseyVar</i> with falsey value'}}}.
