template(name="studyGroupHomeworkSort")
  h1 Sort homework
  .row
    .col-sm-6
      ol.homework-list.sortable-list
        each studyGroup.homework
          li(id=_id)
            a(href="{{pathFor 'studyGroupHomework' studyGroupId=../studyGroup._id homeworkId=_id}}") {{type}}: {{title}}
      p
        a.btn.btn-default(href="{{pathFor 'studyGroup' _id=studyGroup._id}}") &larr; Study group