template(name="courseLayout")
  #container
    +navbar
    .container
      .row
        .col-sm-8
          +yield
          +SKCoursesBackBtn
        .col-sm-4
          h2 Ďalšie kurzy
          +listOfCourses
          h2 Lektor
          p
            img(src="/img/codermania-elfoslav.jpg" alt="elfoslav")
          p Prvú webovú stránku som spravil v roku 2005. Programovaniu sa venujem od roku 2008.
            |2009 - 2012 som študoval na FI MUNI v Brne.
            |Od roku 2012 som sa venoval profesionálne tvorbe webom a neskôr webových aplikácií.
            |V roku 2014 som objavil silnú potrebu učiť ľudí.
            |Začal som robiť programátorské kurzy, ktoré robím doteraz.
            |(Kvalitných) Ľudí v IT je akútny nedostatok a ja verím, že moje kurzy
            |pomôžu zlepšiť kvalitu a kvantitu ľudí v IT.
          p Ak máš otázky, môžeš ma kontaktovať cez
            a(href="https://www.facebook.com/elfoslav") Facebook.
          p Ak náhodou nemáš Facebook, na stránke
            a(href="{{pathFor 'contact'}}") kontakt
            |nájdeš môj e-mail.
    +appUpdatePrompt
    +footer