template(name="summerWebDevelopmentSchool")
  h1 Letná web developerská škola

  h2 Pre koho to je?
  ul
    li Pre ľudí, ktorí sa chcú naučiť vytvoriť svoju vlastnú webovú stránku, alebo aplikáciu.
    li Pre ľudí, ktorí sa chcú dozvedieť aké technológie sa používajú v praxi.
    li Pre ľudí, ktorí chcú toto leto pre seba niečo spraviť.
    li Pre ľudí, ktorí majú čas aspoň 10 hodín týždenne na štúdium.

  h2 Čo musím vedieť?
  ul
    li Treba vedieť angličtinu aspoň na úrovni porozumenia čítanému textu.
      |Programátor/Web developer sa len ťažko zaobíde bez angličtiny.
    li Nie je potrebná predošlá skúsenosť s programovaním ani s tvorbou webu.

  h2 Naučíš sa:
  ul
    li HTML, CSS, JavaScript na dobrej úrovni
    li Základy Wordpress
    li Základy verzovacieho systému GIT
    li Pracovať v príkazovom riadku
    li MongoDB a Meteor.js pre vývoj vlastných aplikácií
    li Prehľad webových technológií
    li Pracovné postupy
    li Hľadať informácie
    li Párové programovanie
    li A mnoho iných vecí...

  h2 Miesto konania
  p Primárne sa zameriavam na študentov v Brne a v Dubnici, kde budú prebiehať osobné stretnutia.
    |Ak nie si z Brna ani z Dubnice, ponúkam online verziu školy za zvýhodnenú cenu.

  h2 Priebeh a trvanie?
  p Letná web developerská škola začína 1.7.2015 a končí 30.9.2015.
    |3 mesiace je doba na naučenie sa základov. Ak budú mať študenti záujem,
    |ponúkam možnosť predĺženia školy o 1 - 2 mesiace.
    |Študent robí väčšinu práce online.
    |Prvé 3 - 4 týždne sa budeme osobne stretávať 1x do týždňa vo večerných hodinách (17:00 - 20:00),
    |aby sme sa lepšie spoznali a vysvetlili si základné veci.
    |Študenti pracujú počas týždňa na domácich úlohách, ktoré môžu konzultovať s ostatnými študentami
    |alebo vyučujúcim. Radenie sa medzi študentami je povolené. Študenti si tak navzájom môžu pomáhať a učiť sa.

  h2 Cieľ web developerskej školy
  p Cieľom tejto školy je odovzdať
    a(href="http://hromnik.com") moje
    |skúsenosti najlepšie ako viem.
  p Po absolvovaní letnej web developerskej školy získaš možnosť exkurzie a pohovorov v rôznych firmách.
    |Získaš nové kontakty a priateľov. Získaš znalosti, ktoré by si sám dosiahol za oveľa dlhší čas ako len 3 mesiace.

  h2 Cena
  p Bude upresnená do 15.6.
  p Prosím o vyplnenie dotazníka:
    a(href="https://docs.google.com/forms/d/1fAPfbad4NQrXhv64zHgPAgSoeU_r1cw2Mf6BCe8d2nU/" target="_blank")
      |https://docs.google.com/forms/d/1fAPfbad4NQrXhv64zHgPAgSoeU_r1cw2Mf6BCe8d2nU/
  //
    p <b>Dobrovoľná</b>. Kurz je za dobrovoľný príspevok. Je to môj experiment, nakoľko si ľudia vážia nadobudnuté vedomosti.

  h2 Prihláška
  p Prihlasovať sa môžeš na Facebooku tak, že sa zúčastníš udalosti. Následne sa ti ozvem a dohodneme detaily.
  p Prihlasuj sa tu:
    a(href="https://www.facebook.com/events/960881193956187/") https://www.facebook.com/events/960881193956187/
