template(name="summerWebDevelopmentSchool")
  h1 Letná web developerská škola

  h2 Pre koho to je?
  ul
    li Pre ľudí, ktorí sa chcú naučiť vytvoriť svoju vlastnú webovú stránku, alebo aplikáciu.
    li Pre ľudí, ktorí sa chcú dozvedieť aké technológie sa používajú v praxi.
    li Pre ľudí, ktorí chcú toto leto pre seba niečo spraviť.
    li Pre ľudí, ktorí majú čas aspoň 10 hodín týždenne na štúdium.

  h2 Čo musím vedieť?
  ul
    li Treba vedieť angličtinu aspoň na úrovni porozumenia čítanému textu.
      |Programátor/Web developer sa len ťažko zaobíde bez angličtiny.
    li Nie je potrebná predošlá skúsenosť s programovaním ani s tvorbou webu.

  h2 Naučíš sa:
  ul
    li HTML, CSS, JavaScript na dobrej úrovni
    li Základy Wordpress
    li Základy verzovacieho systému GIT
    li Pracovať v príkazovom riadku
    li MongoDB a Meteor.js pre vývoj vlastných aplikácií
    li Prehľad webových technológií
    li Pracovné postupy
    li Hľadať informácie
    li Párové programovanie
    li A mnoho iných vecí...
  p V tejto škole sa naučíte ako základy tvorby webu, tak aj pokročilé techniky tvorby aplikácií
    |a sami si minimálne jednu aplikáciu vytvoríte. Škola sa zameriava čo najviac na praktické veci,
    |budete robiť cvičenia a projekty od začiatku školy až po koniec. Teórie bude len toľko, koľko je potreba.

  h2 Miesto konania
  p Primárne sa zameriavam na študentov <b>v Brne a v Dubnici</b>, kde budú prebiehať osobné stretnutia.
    |Ak nie si z Brna ani z Dubnice, ponúkam online verziu školy za zvýhodnenú cenu.

  h2 Priebeh a trvanie?
  p Letná web developerská škola <b>začína 1.7.2015 a končí 30.9.2015</b>.
    |3 mesiace je doba na naučenie sa základov. Ak budú mať študenti záujem,
    |ponúkam možnosť predĺženia školy o 1 - 2 mesiace.
    |Študent robí väčšinu práce online.
    |Prvé 4 týždne sa budeme osobne stretávať 1x do týždňa (v Brne utorky, v Dubnici stredy)
    |vo večerných hodinách (17:00 - 20:00),
    |aby sme sa lepšie spoznali a vysvetlili si základné veci.
    |Ostatné dva mesiace sa budeme stretávať každý druhý týždeň a konzultovať lekcie online.
    |Študenti pracujú počas týždňa na domácich úlohách, ktoré môžu konzultovať s ostatnými študentami
    |alebo vyučujúcim. Radenie sa medzi študentami je povolené. Študenti si tak navzájom môžu pomáhať a učiť sa.

  h2 Cieľ web developerskej školy
  p Cieľom tejto školy je odovzdať
    a(href="http://hromnik.com") moje
    |skúsenosti najlepšie ako viem.
  p Po absolvovaní letnej web developerskej školy získaš možnosť exkurzie a pohovorov v rôznych firmách.
    |Získaš nové kontakty a priateľov. Získaš znalosti, ktoré by si sám dosiahol za oveľa dlhší čas ako len 3 mesiace.

  h2 Cena
  h3 Osobná škola:
  p
    b Neštudent:
    |9 000 Kč / 330 € (možnosť splátok)
  p
    b Študent:
    |6 500 Kč / 240 € (možnosť splátok)
  ul
    li 25 hodín mentoringu osobne + 14 hodín online (chat)
    li Nespočetne hodín pri vypracovávaní domácich úloh, projektov a skupinových projektov (práca v tíme)
  h3 Online škola:
  p
    b Študent aj neštudent:
    |5 500 Kč / 200 €
  ul
    li 16 hodín mentoringu online cez video + 14 hodín cez chat
    li Nespočetne hodín pri vypracovávaní domácich úloh, projektov a skupinových projektov (práca v tíme)

  h2 Prihláška
  p Prihlásiš sa tak, že si vytvoríš účet na tejto stránke (ak ešte nemáš),
    |pôjdeš do študijnej skupiny
    a(href="{{pathFor 'studyGroup' _id=group._id}}") "Letná web developerská škola 2015"
    |a v nej klikneš na tlačidlo "Join this group".
  p
    b {{freeSpots}}
  p Ak máš otázky alebo nejasnosti, napíš mi na
    a(href="https://www.facebook.com/elfoslav") Facebooku
    |alebo na
    a(href="mailto:tomas@codermania.com") e-mail.
