template(name="summerWebDevelopmentSchool")
  h1 Letná web developerská škola

  h2 Pre koho to je?
  ul
    li Pre ľudí, ktorí sa chcú naučiť vytvoriť svoju vlastnú webovú stránku, alebo aplikáciu.
    li Pre ľudí, ktorí sa chcú dozvedieť aké technológie sa používajú v praxi.
    li Pre ľudí, ktorí chcú toto leto pre seba niečo spraviť.
    li Pre ľudí, ktorí majú čas aspoň 10 hodín týždenne na štúdium.

  h2 Čo musím vedieť?
  ul
    li Treba vedieť angličtinu aspoň na úrovni porozumenia čítanému textu.
      |Programátor/Web developer sa len ťažko zaobíde bez angličtiny.
    li Nie je potrebná predošlá skúsenosť s programovaním ani s tvorbou webu.

  h2 Naučíš sa:
  ul
    li HTML, CSS, JavaScript na dobrej úrovni
    li Základy Wordpress
    li Základy verzovacieho systému GIT
    li Pracovať v príkazovom riadku
    li MongoDB a Meteor.js pre vývoj vlastných aplikácií
    li Prehľad webových technológií
    li Pracovné postupy
    li Hľadať informácie
    li Párové programovanie
    li A mnoho iných vecí...
  p V tejto škole sa naučíš ako základy tvorby webu, tak aj pokročilé techniky tvorby aplikácií
    |a minimálne jednu aplikáciu si vytvoríš. Škola sa zameriava čo najviac na praktické veci,
    |budeš robiť cvičenia a projekty od začiatku školy až po koniec. Teórie bude len toľko, koľko je potreba.
    |Dozvieš sa o veľmi veľa technológiách. Je už len na tebe niektoré z nich si vybrať a naučiť sa poriadne.
    |S výberom technológie samozrejme poradím.

  h2 Priebeh a trvanie?
  p Letná web developerská škola <b>začína 1.7.2015 a končí 1.11.2015</b>.
    |Študent robí väčšinu práce doma.
    |Študenti pracujú počas týždňa na domácich úlohách, ktoré môžu konzultovať s ostatnými študentami
    |alebo vyučujúcim. Radenie sa medzi študentami je povolené a podporované. Študenti si tak navzájom môžu pomáhať a učiť sa.

  h2 Cieľ web developerskej školy
  p Cieľom tejto školy je odovzdať
    a(href="http://hromnik.com") moje
    |skúsenosti najlepšie ako viem.
  p Po absolvovaní letnej web developerskej školy získaš možnosť pohovorov a nahliadnutia do fungovania rôznych firiem.
    |Získaš nové kontakty a priateľov. Získaš znalosti, ktoré by si sám dosiahol za oveľa dlhší čas ako len 4 mesiace.

  h2 Cena
  p Pôvodne mala byť škola za akciovú cenu <b>9 000 Kč / 330 €</b> pre neštudentov a za
    |akciovú cenu pre študentov <b>6 500 Kč / 240 €</b>. Lenže, čo ak som študent, alebo pracujúci,
    |ktorý prežíva zo dňa na deň a nemôže si školu dovoliť?
    |Nový model financovania je založený na dobrovoľných príspevkoch.
    |Ak budete mať pocit, že vám škola niečo dala, môžete ma podporiť.
  p Zvolil som tento model preto, lebo na svete je nedostatok kvalitných web developerov a celkovo
    |ľudí v IT. Mojim cieľom je
    a(href="http://blog.hromnik.com/2015/04/27/zvysenie-kvality-a-kvantity-web-developerov/")
      |zvýšiť počet a kvalitu web developerov.
  p Viem, že veľa ľudí si neváži to, čo dostanú zadarmo.
    |Preto odporúčam, aby študenti darovali vopred ľubovoľnú čiastku, aby mali motiváciu školu dokončiť.
    |Prispievať môžeš každý mesiac na
    a(href="https://patreon.com/elfoslav") Patreone
    |alebo jednorázovo cez Paypal:
  p
    +paypalDonateButton
  p Pamätajte, nemôžem učiť naplno ak budem bez peňazí.

  h2 Prihlášky
  h3 Osobná škola:
  p Osobná škola je pre ľudí, v okolí Brna a Dubnice nad Váhom.
    |Môžem sa so študentami stretávať raz za týždeň po 2 - 3 hodiny.
  with studyGroup
    +summerWebDevSchoolApplicationInstructions

  h3 Online škola:
  p Online škola je pre ľudí, ktorí nemôžu dochádzať do Brna, alebo Dubnice.
    |Výuka prebieha cez video hovory raz týždenne po 2 - 3 hodiny.
  with onlineStudyGroup
    +summerWebDevSchoolApplicationInstructions

  h2 Dostaneš
  ul
    li 50+ hodín mentoringu osobne alebo cez video + online konzultácie (chat)
    li Nespočetne hodín pri vypracovávaní domácich úloh, projektov a skupinových projektov (práca v tíme)
    li Mentoring aj po ukončení kurzu

  p Ak máš otázky alebo nejasnosti, napíš mi na
    a(href="https://www.facebook.com/elfoslav") Facebooku
    |alebo na
    a(href="mailto:tomas@codermania.com") e-mail.
