template(name="summerWebDevelopmentSchool")
  h1 Letná web developerská škola

  h2 Pre koho to je?
  ul
    li Pre ľudí, ktorí sa chcú naučiť vytvoriť svoju vlastnú webovú stránku, alebo aplikáciu.
    li Pre ľudí, ktorí sa chcú dozvedieť aké technológie sa používajú v praxi.
    li Pre ľudí, ktorí chcú toto leto pre seba niečo spraviť.
    li Pre ľudí, ktorí majú čas aspoň 10 hodín týždenne na štúdium.

  h2 Čo musím vedieť?
  ul
    li Treba vedieť angličtinu aspoň na úrovni porozumenia čítanému textu.
      |Programátor/Web developer sa len ťažko zaobíde bez angličtiny.
    li Nie je potrebná predošlá skúsenosť s programovaním ani s tvorbou webu.

  h2 Naučíš sa:
  ul
    li HTML, CSS, JavaScript na dobrej úrovni
    li Základy Wordpress
    li Základy verzovacieho systému GIT
    li Pracovať v príkazovom riadku
    li MongoDB a Meteor.js pre vývoj vlastných aplikácií
    li Prehľad webových technológií
    li Pracovné postupy
    li Hľadať informácie
    li Párové programovanie
    li A mnoho iných vecí...
  p V tejto škole sa naučíte ako základy tvorby webu, tak aj pokročilé techniky tvorby aplikácií
    |a sami si minimálne jednu aplikáciu vytvoríte. Škola sa zameriava čo najviac na praktické veci,
    |budete robiť cvičenia a projekty od začiatku školy až po koniec. Teórie bude len toľko, koľko je potreba.
    |Dozviete sa o veľmi veľa technológiách. Je už len na vás niektoré z nich si vybrať a naučiť sa poriadne.
    |S výberom technológie samozrejme poradím.

  h2 Miesto konania
  p Primárne sa zameriavam na študentov <b>v Brne a v Dubnici</b>, kde budú prebiehať osobné stretnutia.
    |Ak nie si z Brna ani z Dubnice, ponúkam online verziu školy za zvýhodnenú cenu.

  h2 Priebeh a trvanie?
  p Letná web developerská škola <b>začína 1.7.2015 a končí 14.10.2015</b>.
    |15 týždňov je doba na naučenie sa základov. Ak budú mať študenti záujem,
    |ponúkam možnosť predĺženia školy o 1 - 2 mesiace.
    |Študent robí väčšinu práce doma.
    |Budeme sa osobne stretávať 1x do týždňa (v Brne utorky, v Dubnici stredy)
    |vo večerných hodinách (17:00 - 20:00).
    |Študenti pracujú počas týždňa na domácich úlohách, ktoré môžu konzultovať s ostatnými študentami
    |alebo vyučujúcim. Radenie sa medzi študentami je povolené a podporované. Študenti si tak navzájom môžu pomáhať a učiť sa.

  h2 Cieľ web developerskej školy
  p Cieľom tejto školy je odovzdať
    a(href="http://hromnik.com") moje
    |skúsenosti najlepšie ako viem.
  p Po absolvovaní letnej web developerskej školy získaš možnosť pohovorov a nahliadnutia do fungovania rôznych firiem.
    |Získaš nové kontakty a priateľov. Získaš znalosti, ktoré by si sám dosiahol za oveľa dlhší čas ako len 3 mesiace.

  h2 Cena
  h3 Osobná škola:
  p
    b Neštudent:
    br
    |&nbsp;&nbsp;Pôvodná cena: <del>18 000 Kč / 656 €</del>
    br
    |&nbsp;&nbsp;Akciová cena <b>9 000 Kč / 330 €</b> (možnosť splátok)
  p
    b Študent:
    br
    |&nbsp;&nbsp;Pôvodná cena: <del>12 000 Kč / 438 €</del>
    br
    |&nbsp;&nbsp;Akciová cena <b>6 500 Kč / 240 €</b> (možnosť splátok)
  ul
    li 45 hodín mentoringu osobne + približne 15 hodín online (chat)
    li Nespočetne hodín pri vypracovávaní domácich úloh, projektov a skupinových projektov (práca v tíme)
    li Mentoring aj po ukončení kurzu
  h3 Online škola:
  p
    b Študent aj neštudent:
    br
    |&nbsp;&nbsp;Pôvodná cena: <del>11 000 Kč / 399 €</del>
    br
    |&nbsp;&nbsp;Akciová cena <b>5 500 Kč / 199 €</b>
  ul
    li 30 hodín mentoringu online cez video + približne 15 hodín cez chat
    li Nespočetne hodín pri vypracovávaní domácich úloh, projektov a skupinových projektov (práca v tíme)
    li Mentoring aj po ukončení kurzu

  p
    b Ak si nemôžeš kurz dovoliť, <a href="mailto:tomas@codermania.com">napíš mi</a> a niečo vymyslíme.

  h2 Prihláška
  p Prihlásiš sa tak, že si vytvoríš účet na tejto stránke (ak ešte nemáš),
    |pôjdeš do študijnej skupiny
    a(href="{{pathFor 'studyGroup' _id=group._id}}") "Letná web developerská škola 2015"
    |a v nej klikneš na tlačidlo "Join this group".
  p
    b {{freeSpots}}
  p Ak máš otázky alebo nejasnosti, napíš mi na
    a(href="https://www.facebook.com/elfoslav") Facebooku
    |alebo na
    a(href="mailto:tomas@codermania.com") e-mail.
