template(name="webPages")
  .row
    .col-sm-8
      h1 Tvorba webových stránok

      h2 Pre koho je kurz určený?

      p Pre ľudí, ktorí nemajú s tvorbou webových stránok žiadne skúsenosti a chcú sa naučiť, ako si webové stránky vytvoria sami.

      h2 V kurze sa naučíš

      ul
        li Základy HTML
        li Základy CSS
        li Časté problémy kódovania a ich riešenia
        li Vytvoriť svoju vlastnú web stránku

      h2 Trvanie kurzu

      p 3 hodiny

      h2 Miesta kurzu

      p Dubnica nad Váhom, Brno, po dohode aj iné.

      p Presnejšie miesto a termín budú upresnené neskôr.

      h2 Cena
      p <b>Dobrovoľná</b>. Krátke kurzy sú za dobrovoľný príspevok, aby sa ich mohol zúčastniť každý a vyskúšať si, či sa chce programovaniu/kódovaniu venovať ďalej.

      +SKCourseInfo
      hr
      +SKCoursesBackBtn
    .col-sm-4
      h2 Ďalšie kurzy
      +listOfCourses