<div id="homepage">
  <div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6">
      <h2 class="no-margin-top">Learn to code on CoderMania</h2>
      <ul class="list-unstyled bigger-font">
        <li><span class="green glyphicon glyphicon-ok"></span>Learn to code interactively</li>
        <li><span class="green glyphicon glyphicon-ok"></span>Many exercises</li>
        <li><span class="green glyphicon glyphicon-ok"></span>Mentoring (after registration)</li>
        <li><span class="green glyphicon glyphicon-ok"></span>Tutorial for becoming professional coder</li>
      </ul>
      <div class="row">
        <div class="col-sm-6">
          <p><a href="#" class="btn btn-primary btn-block btn-lg sign-up-btn">{{_ "Sign up"}}</a></p>
        </div>
        <div class="col-sm-6">
          <p><a href="/javascript/lesson/1a/hello-world" class="btn btn-default btn-block btn-lg">{{_ "Try now!"}}</a></p>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-sm-6">
      <h2 class="no-margin-top">Why you should learn to code</h2><br/>
      <ul class="list-unstyled bigger-font learn-to-code-reasons">
        <li><span class="glyphicon glyphicon-cog"></span>You can build something that does not exist yet</li>
        <li><span class="glyphicon glyphicon-home"></span>You can work from home</li>
        <li><span class="glyphicon glyphicon-usd"></span>You can earn much money</li>
        <li><span class="glyphicon glyphicon-user"></span>You can become your own boss</li>
        <li><span class="glyphicon glyphicon-globe"></span>You can change the world</li>
        <li><span class="glyphicon glyphicon-briefcase"></span>You do not need a degree to become a coder</li>
        <li><span class="glyphicon glyphicon-plus"></span>Add your own reason...</li>
      </ul>
    </div>
    <div class="col-sm-6">
      <h2 class="no-margin-top">What famous people say about programming</h2><br/>
      <iframe height="315" src="//www.youtube.com/embed/Q0z-C8Ke2FQ" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    </div>
  </div>
</div>